@inherits LayoutComponentBase

@attribute [StreamRendering]

<main class="container">
    <div class="row" style="height: 80px">
        <div class="px-2 col-8">
            <a href="/blog/" class="p-2">
                <h4>Ricardo's Blog</h4>
            </a>
        </div>

        <div class="col-4 d-flex justify-content-around align-items-center">
            <a href="/blog/" class="p-2">
                <div class="d-inline-flex" style="text-align: center">
                    <Icon Name="@IconName.House" Color="@IconColor.Primary" class="px-2 d-none d-xl-block" Size="@IconSize.x5"/>
                    <h5>首页</h5>
                </div>
            </a>

            <a href="/blog/archives/" class="p-2">
                <div class="d-inline-flex">
                    <Icon Name="@IconName.Archive" Color="@IconColor.Primary" class="px-2 d-none d-xl-block" Size="IconSize.x5"/>
                    <h5>归档</h5>
                </div>
            </a>

            <a href="/blog/tags/" class="p-2">
                <div class="d-inline-flex">
                    <Icon Name="@IconName.Tags" Color="@IconColor.Primary" class="px-2 d-none d-xl-block" Size="@IconSize.x5"/>
                    <h5>标签</h5>
                </div>
            </a>

            <a href="/blog/about/" class="p-2">
                <div class="d-inline-flex">
                    <Icon Name="@IconName.Person" Color="@IconColor.Primary" class="px-2 d-none d-xl-block" Size="@IconSize.x5"/>
                    <h5>关于</h5>
                </div>
            </a>
        </div>
    </div>

    <div class="row px-4 py-2">
        @Body
    </div>

    <Foonter/>
</main>
