<FluentGridItem md="3" sm="6" xs="12">
    <FluentStack Orientation="@Orientation.Horizontal" HorizontalAlignment="@HorizontalAlignment.Center">
        <div style="margin: 10px 20px; width: 75%; height: 90%">
            <a href="@Address" target="_blank">
                <FluentCard Width="100%" Height="100%">
                    <FluentStack Orientation="@Orientation.Horizontal">
                        <div style="width: 25%; margin: 5px 0">
                            <img src="@ImageAddress" alt="@Name" width="100%"/>
                        </div>

                        <FluentStack Orientation="@Orientation.Vertical">
                            <FluentLabel Typo="@Typography.H3">
                                @Name
                            </FluentLabel>

                            <FluentLabel Typo="@Typography.Body">
                                @Description
                            </FluentLabel>
                        </FluentStack>
                    </FluentStack>
                </FluentCard>
            </a>
        </div>
    </FluentStack>
</FluentGridItem>


@code {
    [Parameter] public string Name { get; set; } = string.Empty;

    [Parameter] public string Description { get; set; } = string.Empty;

    [Parameter] public string ImageAddress { get; set; } = string.Empty;

    [Parameter] public string Address { get; set; } = string.Empty;
}
