@using YaeBlog.Core.Models
@inherits LayoutComponentBase

@inject BlogOptions BlogOptionsInstance

<FluentLayout>
    <FluentHeader>
        <FluentStack Orientation="@Orientation.Horizontal">
            <div style="width: 50px"></div>

            <a href="/">
                <FluentLabel Typo="@Typography.H3">
                    @BlogOptionsInstance.Author
                </FluentLabel>
            </a>

            <FluentSpacer/>

            <a href="/" style="margin: auto 0 auto 0">
                <FluentLabel Typo="@Typography.H5">
                    首页
                </FluentLabel>
            </a>

            <a href="/archives" style="margin: auto 0 auto 0">
                <FluentLabel Typo="@Typography.H5">
                    归档
                </FluentLabel>
            </a>

            <a href="/tags" style="margin: auto 0 auto 0">
                <FluentLabel Typo="@Typography.H5">
                    标签
                </FluentLabel>
            </a>

            <a href="/about" style="margin: auto 0 auto 0">
                <FluentLabel Typo="@Typography.H5">
                    关于
                </FluentLabel>
            </a>

            <a href="/links" style="margin: auto 0 auto 0">
                <FluentLabel Typo="@Typography.H5">
                    友链
                </FluentLabel>
            </a>

            <div style="width: 20px"></div>
        </FluentStack>
    </FluentHeader>
    <FluentBodyContent Style="height: 100%">
        <main style="height: 100%">
            @Body
        </main>
    </FluentBodyContent>
</FluentLayout>
